$primary-color: #FFE77C;
$secondary-color: #ffffff;
$shadow: (0px 6px 22px 0px rgba(0,0,0,0.08));

.about{
    height: 100vh;
    width: 100%;

    .flex-two{
        .flex-left{
            display: block;
            width: 300px;
            height: 40px;
            #html{
                width: 250px;
                height: 250px;
            }
        }
    }
    .flex-text{
        display: block;
        width: 40%;
        height: 100%;
        float: right;
        margin: 30px;
        padding: 0;

        .about-heading{
            text-transform: uppercase;
            letter-spacing: 4px;
            font-size: 30px;
            font-family: Raleway;
            font-weight: 900;
        }

        .subheading-about{
            font-family: Raleway;
            line-height: 40px;
        }
    }

    .heading{
        font-family: Raleway;
        font-weight: 800;
        text-transform: uppercase;
        top: 32%;
        left: -5%;
        position: absolute;
        transform: translate(-50%,-50%);
        font-size: 30px;
        letter-spacing: 4px;
        text-shadow: $shadow;
        transform: rotate(270deg);

    }

    .personality{
        display: flex;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 0;
        align-items: center;
        .trait{
            font-family: Raleway;
            font-weight: 500;
            font-size: 25px;
            text-transform: uppercase;
            padding: 60px;
            letter-spacing: 4px;
        }
        .divider{
            flex-grow: 1;
            border: 2px solid $primary-color;
            transform: rotate(90deg);
            height: 70px;
        }
    }

    .divider-up{
        display: flex;
        border: 1px solid $primary-color;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        flex-grow: 1;
        width: 800px;
    }

    .divider-down{
        display: flex;
        border: 1px solid $primary-color;
        position: absolute;
        top: 87%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        flex-grow: 1;
        width: 800px;
    }


}