$primary-color: #FFE77C;
$secondary-color: #ffffff;
$shadow: (0px 6px 22px 0px rgba(0,0,0,0.08));

.project-container{
    
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    .projects-heading{
        font-family: Raleway;
        position: absolute;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 4px;
        text-transform: uppercase;
        top: 0%;
        left: 75%;
        transform: translate(-50%, -50%);
    }
    .project-closeup{
        display: flex;
        padding: 40px;
        .left-content{
            float: left;
            img{
                width: 95%;
                height: 95%;
            }
        }
        .right-content{
            width: 40%;
            height: 60%;
            float: right;
            .project-name{
                font-family: Raleway;
                text-transform: uppercase;
                letter-spacing: 4px;
                font-size: 25px;
                position: absolute;
                top: 30%;
                transform: rotate(270deg);
                float: top;
                margin-left: -89px;
                padding: 0;
            }
            .project-information{
                font-family: Raleway;
                font-size: 16px;
                line-height: 35px;
                font-weight: 400;
            }
        }

    }
    .github-indication{
        float: right;
        a{
            outline: none;
            font-family: Raleway;
            font-size: 20px;
            border: none;
            cursor: crosshair;
            color: #000000;
            text-decoration: none;
            font-weight: 700;
        }
    }

    .slick-slide{
        transition: all ease-in-out 1s;
        opacity: .2;
    }

    .slick-slide:focus{
        outline: none;
    }

    .slick-active{
        opacity: .2;
    }

    .slick-current{
        opacity: 1;
    }


}