@import 'projects';
@import 'about';
@import 'contact';

$primary-color: #FFE77C;
$secondary-color: #ffffff;
$shadow: (0px 6px 22px 0px rgba(0,0,0,0.08));

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    cursor: crosshair;
    font-family: Raleway;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-points-y: repeat(100%);
    scroll-snap-type: mandatory;
    scroll-snap-destination: 100% 0;

}

.container{
    overflow: hidden;
    //position: fixed;
    height: 100%;
    width: 100%;
}

.scrolled{
    background-color: #000000 !important;
    transition: background-color 400ms linear;
    box-shadow: 2px 2px 2px #000000;
    height: 80px;
    //transition: height 900ms linear;
}

/*section{
    scroll-snap-align: start;
}*/

nav{
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    margin: 0px auto;
    line-height: 60px;
    align-items: center;
    z-index: 2;
    background-color: transparent;
    transition: background-color 300ms linear;

    .left-corner{
        display: flex;
        float: left;
        padding: 30px;
    }

    .right-corner{
        float: right;
        transform: rotate(90deg);
        margin-left: auto;
        padding: 35px;
        
    }

    .desktop-nav{
        a{
            text-align: left;
            color: #ffffff;
            text-shadow: $shadow;
            text-decoration: none;
            margin-left: 40px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 4px;
            width: 100%;
            outline: 0;
            &:hover{
                border-bottom: 2px solid $primary-color;
                cursor: crosshair;
            }
        }
    }

    .mobile-nav{
        display: none;
    }
}

.content{
    display: block;
    width: 100%;
    height: 100vh;
    margin: 0 0;
    position: absolute;
    padding: 0;
    background: url(/dist/assets/back-pic.png) no-repeat 50% 50%;
    background-size: cover;
    background-position: center;

    .information{
        display: inline-block;
        position: absolute;
        width: 900px;
        text-align: center;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);

        h1{
            display: block;
            font-family: Montserrat Alternates;
            font-size: 80px;
            color: $secondary-color;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 20px;
            line-height: 80px;
            position: relative;
            text-shadow: $shadow; 

            .word{
                .char{
                    &:hover{  
                        animation: bounce 1s forwards;
                        color: #FFE77C;
                        
                        @keyframes bounce {
                            0%{
                                transform: translateY(0px);
                            }
                            20%{
                                transform: translateY(10px);

                            }
                            50%{
                                transform: translateY(-10px);
                            }
                            75%{
                                transform: translateY(5px)
                            }
                            100%{
                                transform: translateY(0px);
                            }
                            
                        }
                    }
                }
                
            }
        }
        .more-info{
            display: flex;
            align-items: center;
            margin-top: -25px;
            .line-before{
                flex-grow: 1;
                margin: 8px;
                border-top: 1px solid $primary-color;
            }
            .line-after{
                flex-grow: 1;
                margin: 7px;
                border: 1px solid $primary-color;
            }
            .more-information{
                display: block;
                font-family: Raleway;
                font-size: 20px;
                color: #ffffff;
                font-weight: 500;
                text-transform: uppercase;
                position: relative;
                letter-spacing: 6px;
                text-shadow: $shadow;
            }
    }
        
    }
    .scroll{
        top: 90%;
        left: 86%;
        position: absolute;
        transform: rotate(270deg);

        .text{
            font-family: Raleway;
            font-weight: 700;
            letter-spacing: 4px;
            font-size: 20px;
            text-decoration: none;
            text-transform: uppercase;
            color: #ffffff;
            margin: 0;
            padding: 0;
        }

        .line{
            display: block;
            margin: 0;
            padding: 0;
            border-top: 2px solid #ffffff;
            width: 60%;
        }
    }

    .buttons-scrolled{
        color: #000000;
        background: #000000;
        transition: color 300ms linear;
    }
    .buttons{
        display: flex;
        z-index: 1;
        position: absolute;
        top: 50%;
        left: -2%;
        margin: -40px;
        padding: 0;
        align-items: center;
        transform: rotate(270deg);
        .divider{
            flex-grow: 1;
            border: 1px solid #ffffff;
            margin: 14px;
            width: 60px;
        }
        .github-btn{
            display: block;
            color:#ffffff;
            font-family: Raleway;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 4px;
            text-shadow: $shadow;
            border: none;
            outline: 0;
            text-decoration: none;

            &:hover{
                border-bottom: 2px solid $primary-color;
                border-width: 20%;
                animation-name: fill-bottom;
                animation-delay: 0.5s;
                animation-duration: 2s;
            }
        }
        .linkedin-btn{
            display: block;
            font-family: Raleway;
            color: #ffffff;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 4px;
            text-shadow: $shadow;
            border: none;
            outline: 0;
            text-decoration: none;

            &:hover{
                border-bottom: 2px solid $primary-color;
                border-width: 20%;
                animation-name: fill-bottom;
                animation-delay: 0.5s;
                animation-duration: 2s;
                /*@keyframes fill-bottom {
                    from{
                        width: 0%;
                    }
                    to{
                        width: 50%;
                    }
                    
                }*/
            }
            /*&::after{
                content: "";
                transform: rotate(90deg);
                background: $primary-color;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 80px;
                width:2px;
                transition: ease-out 0.5s;
              
            }*/
        }
    }

    .scroll-indicators{
        top: 45%;
        left: 97.5%;
        position: fixed;
        color: #ffffff;
        transform: translate(-50%, -50%);
        li{
            margin: 10px;
            font-size: 35px;
        }
    }

    .browse-button{
        display: block;
        position: absolute;
        top: 77%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        .browse{    
            border: 2px dashed $primary-color;
            border-radius: 10px;
            height: 70px;
            width: 200px;
            background: transparent;
            font-size: 30px;
            text-align: center;
            color: #ffffff;
            font-family: Montserrat Alternates;
            font-weight: 500;
            letter-spacing: 4px;
            //animation: rotateEllipse 15s ease-in-out infinite;
            transform: rotate(0deg);
            text-shadow: $shadow;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1);

            &:hover{
                background: #FFE77C;
                border: 2px solid $primary-color;
                cursor: crosshair;
            }

            @keyframes rotateEllipse {
                from{
                    transform: rotate(-45deg);
                }
                to{
                    transform: rotate(-405deg);
                }
            }
        }
    }
}
    

.overlay-2{
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #FFE77C;
    overflow: hidden;
}

.overlay{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(/dist/assets/background-pic.png) no-repeat 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    .myButton{
       font-family: Raleway;
       position:absolute;
       top:50%;
       left: 50%;
       transform: translate(-50%, -50%);

       &:hover{
            color: #ffffff;
            cursor: crosshair;
       }
       &:before{
           content: "";
           position: absolute;
           background: $primary-color;
           bottom: 0;
           left: 0;
           right: 0;
           top: 100%;
           z-index: -1;
           transition: top 0.8s ease-out; 
       }
       &:hover::before{
           top: 0;
       }
    }
    
    button{
        display: block;
        padding: 24px 48px;
        font-family: Raleway;
        font-weight: 800;
        font-size: 16px;
        letter-spacing: 6px;
        color: $primary-color;
        border: 3px solid $primary-color;
        text-transform: uppercase;
        outline:none;
        overflow: hidden;
        background: none;
        z-index: 1;
        cursor: crosshair;
        transition: 0.8s ease-out;
    }

    .headings{
        font-family: Raleway;
        margin: 0 auto;
        position: absolute;
        top: 35%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
        width: 80%;
        .head{
            text-align: center;
            font-size: 100px;
            letter-spacing: 20px;
            font-weight: 600;
            margin: 0;
        }
        .head.words{
            .char{
                animation: slide-down 2s forwards;
                animation-delay: calc(.5s + (.1s*var(--char-index)));
                opacity: 0;

                @keyframes slide-down {
                    from{
                        transform: translateY(125%);
                        opacity: 0;
                    }
                    to{
                        transform: translateY(0%);
                        opacity: 1;
                    }
                    
                }
            }
        }
        .subheading{
            font-weight: 700;
            margin: 0;
            text-align: center;
            letter-spacing: 5px;
            padding: 5px;
        }
        .subheading.words{
            .char{
                animation: slide-down 1s forwards;
                animation-delay: calc(.1s + (.1s*var(--char-index)));
                opacity: 0;

                @keyframes slide-down {
                    from{
                        transform: translateY(125%);
                        opacity: 0;
                    }
                    to{
                        transform: translateY(0%);
                        opacity: 1;
                    }
                    
                }
            }
        }  
         
       
    }
    
    .subheading2{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 5px;
        .subheading{
            font-family: Raleway;
            font-weight: 700;
            text-decoration: none;
            letter-spacing: 5px;
        }

        .subheading.words{
            .char{
                animation: slide-down 2s forwards;
                animation-delay: calc(.5s + (.1s*var(--char-index)));
                opacity: 0;

                @keyframes slide-down {
                    from{
                        transform: translateY(125%);
                        opacity: 0;
                    }
                    to{
                        transform: translateY(0%);
                        opacity: 1;
                    }
                    
                }
            }
        }
    }

    .right-corner{
        position: absolute;
        float: right;
        top: 9%;
        left: 96%;
        transform: translate(-50%, -50%);

        img{
            transform: rotate(90deg);
        }
    }
    .left-corner{
        position: absolute;
        float: left;
        top: 9%;
        left: 4%;
        transform: translate(-50%, -50%);

        img{
            transform: rotate(0deg);
        }
    }
    .bottom-left-corner{
        position: absolute;
        float:left;
        top: 91%;
        left: 4%;
        transform: translate(-50%, -50%);

        img{
            transform: rotate(270deg);
        }

    }
    .bottom-right-corner{
        position: absolute;
        float: right;
        top: 91%;
        left: 96%;
        transform: translate(-50%, -50%);

        img{
            transform: rotate(180deg);
        }

    }

    
    .buttons{
        display: flex;
        position: absolute;
        top: 50%;
        left: -2%;
        margin: -40px;
        padding: 0;
        align-items: center;
        transform: rotate(270deg);
        .divider{
            flex-grow: 1;
            border: 1px solid #000000;
            margin: 14px;
            width: 60px;
        }
        .github-btn{
            display: block;
            font-family: Raleway;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 4px;
            text-shadow: $shadow;
            &:hover{
                border-bottom: 2px solid $primary-color;
                border-width: 20%;
                animation-name: fill-bottom;
                animation-delay: 0.5s;
                animation-duration: 2s;
            }
        }
        .linkedin-btn{
            display: block;
            font-family: Raleway;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 4px;
            text-shadow: $shadow;
            &:hover{
                border-bottom: 2px solid $primary-color;
                border-width: 20%;
                animation-name: fill-bottom;
                animation-delay: 0.5s;
                animation-duration: 2s;
                /*@keyframes fill-bottom {
                    from{
                        width: 0%;
                    }
                    to{
                        width: 50%;
                    }
                    
                }*/
            }
            /*&::after{
                content: "";
                transform: rotate(90deg);
                background: $primary-color;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 80px;
                width:2px;
                transition: ease-out 0.5s;
              
            }*/
        }
    }

    .stranger-tag{
        display: block;
        position: absolute;
        margin: 0;
        padding: 0;
        top: 80%;
        left: 70%;
        align-items: center;
        transform: rotate(270deg);
        .text{
            font-family: Raleway;
            font-weight: 700;
            letter-spacing: 4px;
            font-size: 12px;
            text-decoration: none;
            text-transform: uppercase;
            
            
        }
        #line{
            display: block;
            margin: 0;
            padding: 0;
            height: 70px;
            border-top: 2px solid #000000;
            width: 60%;
            
        }
    }

}

.section-container{
    width: 85%;
    margin: auto;
    padding: 0;
    .about{
        height: 100vh;
        width: 100%;
    }
    .projects{
        height: 100vh;
        width: 100%;
    }
    .contact{
        height: 100vh;
        width: 100%;
    }
}

.buttons-scrolled{
    color: #000000;
    transition: color 300ms linear;
}


.page-counter{
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 20px;
    z-index: 1;
    position: fixed;
    top: 45%;
    left: 95%;
    transform: translate(-50%,-50%);
    
    p{
        display: flex;
        color: #ffffff;
        font-weight: 700;
        font-family: Montserrat Alternates;
        font-size: 30px;
        transition: 500ms ease-in;
        font-weight: 500;
        align-items: center;
        justify-content: center;
        transition: 1s ease-in;
        
    }

    .divider{
        display: flex;
        border: 1px solid #ffffff;
        transform: rotate(90deg);
        width: 100px;
        align-items: center;
        justify-content: center;
        transition: 1s ease-in;
    }
    .current-page{

    }
}

.bg-change-divider{
    border: 1px solid #000000 !important;
}
.current{
    display: block;
    z-index: 1; 
    position: fixed;
    top: 5%;
    left: 2%;
    color: #ffffff;
    font-family: Raleway;
    font-weight: 700;
    font-size: 50px;
    transition: 1s ease-in;
}

.bg-change{
    color: #000000 !important;
}

footer{
    width: 100%;
    //height: 20vh;
    padding: 0;
    margin: 0;
    border: 2px solid $primary-color;
    .container{
        .left-content{
            padding: 50px;
            float: left;
        }
        .right-content{
            float: right;
            padding: 50px;
        }
    }
}





